article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block; }

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none; }

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

a:hover,
a:active {
  outline: 0; }

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  max-width: 100%;
  width: auto\9;
  height: auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic; }

button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle; }

button,
input {
  *overflow: visible;
  line-height: normal; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

label,
select,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"] {
  cursor: pointer; }

input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

body {
  background: white url("../img/bg1.png") repeat;
  color: #222;
  font-family: 'Helvetica Neue', 'Titillium Web', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  padding: 0;
  margin: 0; }

h1, h2, h3 {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  margin: 0 0 0.5em 0; }

a {
  color: #222;
  text-decoration: none; }
  a.blue {
    color: #3498DB; }

::-webkit-input-placeholder {
  color: #aaa; }

:-moz-placeholder {
  color: #aaa; }

::-moz-placeholder {
  color: #aaa; }

:-ms-input-placeholder {
  color: #aaa; }

.app {
  width: 100%;
  overflow: hidden;
  background: white url("../img/bg1.png") repeat;
  padding-top: 48px; }
  .app .panel {
    display: none; }
  .app .status {
    background: white url("../img/bg1.png") repeat;
    overflow: hidden;
    padding: 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
    box-shadow: 0 1px 3px #ccc; }
    .app .status .float {
      height: 40px;
      line-height: 40px;
      float: left;
      padding: 0 9px 0 10px; }
    .app .status .config {
      font-size: 24px;
      float: right;
      margin: 0;
      text-align: center; }
      .app .status .config:active {
        background: #fff; }
  .app > div {
    border-bottom: 1px solid #ccc;
    clear: both; }
    .app > div .inner {
      padding: 15px 10px; }
  .app .eyecandy {
    overflow: hidden;
    border: 0; }
    .app .eyecandy span {
      width: 12.5%;
      height: 7px;
      float: left;
      display: block; }
  .app .color1 {
    background: #34495e;
    color: #fff; }
  .app .color2 {
    background: #9b59b6;
    color: #fff; }
  .app .color3 {
    background: #3498db;
    color: #fff; }
  .app .color4 {
    background: #1abc9c;
    color: #fff; }
  .app .color5 {
    background: #2ecc71;
    color: #fff; }
  .app .color6 {
    background: #f1c40f;
    color: #fff; }
  .app .color7 {
    background: #e67e22;
    color: #fff; }
  .app .color8 {
    background: #e74c3c;
    color: #fff; }
  .app #notice {
    margin: 10px 10px 0 10px;
    z-index: 1000;
    border: 0;
    display: none;
    border-radius: 5px;
    padding: 10px;
    overflow: hidden; }
    .app #notice p {
      padding: 0;
      margin: 0; }
    .app #notice .text {
      float: left;
      width: 90%; }
    .app #notice .button {
      background: rgba(255, 255, 255, 0.3);
      color: #fff;
      font-size: 12px;
      line-height: 1em;
      width: auto;
      padding: 6px;
      float: right; }
  .app input, .app textarea, .app select {
    -webkit-appearance: none;
    font-family: 'Titillium Web', sans-serif;
    border: none;
    border-bottom: 1px solid #666;
    padding: 3px;
    display: block;
    font-size: 20px;
    font-weight: 200;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: transparent;
    position: relative;
    border-radius: 0; }
    .app input.password, .app textarea.password, .app select.password {
      font-size: 30px;
      letter-spacing: 2px;
      text-transform: uppercase; }
  .app textarea {
    min-height: 4em; }
  .app .phoneNumber {
    clear: both;
    overflow: hidden; }
    .app .phoneNumber select {
      width: 20%;
      margin-right: 5%;
      float: left; }
    .app .phoneNumber input {
      width: 75%;
      float: left; }
      .app .phoneNumber input.shorterInput {
        width: 63%; }
    .app .phoneNumber .listContacts {
      width: 10%;
      display: block;
      float: left;
      font-size: 30px !important;
      text-align: center;
      line-height: 38px;
      height: 38px;
      margin-left: 2%; }
      .app .phoneNumber .listContacts:active {
        background: #fff; }
  .app .button {
    letter-spacing: 1px;
    border-radius: 5px;
    width: 100%;
    text-align: center;
    line-height: 3em;
    background: #3498DB;
    color: #fff;
    border: 0; }
    .app .button:active {
      background: #2980b9; }
    .app .button.red {
      background: #E74C3C; }
    .app .button.red:active {
      background: #c0392b; }
    .app .button.green {
      background: #2ecc71; }
    .app .button.green:active {
      background: #27ae60; }
    .app .button.gray {
      background: #95a5a6; }
    .app .button.gray:active {
      background: #2c3e50; }

.marginTop10 {
  margin-top: 10px; }

.marginTop20 {
  margin-top: 20px; }

.textLeft {
  text-align: left; }

.textRight {
  text-align: right; }

.textCenter {
  text-align: center; }

.textjustify {
  text-align: justify; }
