article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
a:hover,
a:active {
  outline: 0;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  max-width: 100%;
  width: auto\9;
  height: auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}
button,
input {
  *overflow: visible;
  line-height: normal;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
label,
select,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"] {
  cursor: pointer;
}
input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}






body{
  background: #000;
  color: #222;
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  padding: 0;
  margin: 0;
}
h1,h2,h3{
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  margin: 0 0 0.5em 0;
}
a{
	color: #222;
	text-decoration: none;

	&.blue{ color: #3498DB; }
}


@mixin placeholder-mixin {
	color: #aaa;
}
::-webkit-input-placeholder { @include placeholder-mixin; }
:-moz-placeholder { @include placeholder-mixin; }
::-moz-placeholder { @include placeholder-mixin; }
:-ms-input-placeholder { @include placeholder-mixin; }


.app{
    width: 100%;
    overflow: hidden;
    background: #fff url('../img/bg1.png') repeat;
    padding-top: 48px;

	.status{
		background: #fff url('../img/bg1.png') repeat;
		overflow: hidden;
		padding: 0;
		position: fixed;
		width: 100%;
		z-index: 1000;
		top: 0;

		.float{
			height: 40px;
			line-height: 40px;
			float: left;
			padding: 0 9px 0 10px;
		}
		.config{
			font-size: 24px;
			float: right;
			margin: 0;
			text-align: center;

			&:active{
				background: #fff;
			}
		}
	}

    > div{
		border-bottom: 1px solid #ccc;
		clear: both;

		.inner {
			padding: 15px 10px;
		}
	}

	.eyecandy{
		overflow: hidden;
		border: 0;

		span{
			width: 12.5%;
			height: 7px;
			float: left;
			display: block;

			&.color1{ background: #34495e; }
			&.color2{ background: #9b59b6; }
			&.color3{ background: #3498db; }
			&.color4{ background: #1abc9c; }
			&.color5{ background: #2ecc71; }
			&.color6{ background: #f1c40f; }
			&.color7{ background: #e67e22; }
			&.color8{ background: #e74c3c; }
		}
	}

	input, textarea, select{
		-webkit-appearance: none;
		font-family: 'Titillium Web', sans-serif;
		border: none;
		border-bottom: 1px solid #666;
		padding: 3px;
		display: block;
		font-size: 20px;
		font-weight: 200;
		width: 100%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		background: transparent;
		position: relative;
		border-radius: 0;

		&.password{
			font-size: 30px;
			letter-spacing: 2px;
			text-transform: uppercase;
		}
	}
	textarea{
		min-height: 5em;
	}
	.phoneNumber{
		clear: both;
		overflow: hidden;

		select{
			width: 20%;
			margin-right: 5%;
			float: left;
		}
		input{
			width: 75%;
			float: left;
			&.shorterInput{
				width: 63%;
			}
		}
		.listContacts{
			width: 10%;
			display: block;
			float: left;
			font-size: 30px !important;
			text-align: center;
			line-height: 38px;
			height: 38px;
			margin-left: 2%;

			&:active{ background: #fff; }
		}

	}

	.button{
		letter-spacing: 1px;
		border-radius: 5px;
		width: 100%;
		text-align: center;
		line-height: 3em;
		background: #3498DB;
		color: #fff;
		border: 0;

		&:active{ background: #2980b9; }

		&.red{ background: #E74C3C; }
		&.red:active{ background: #c0392b; }

		&.green{ background: #2ecc71; }
		&.green:active{ background: #27ae60; }

		&.gray{ background: #95a5a6; }
		&.gray:active{ background: #2c3e50; }
	}



	


}
	







.marginTop10{ margin-top: 10px; }
.marginTop20{ margin-top: 20px; }

.textLeft{ text-align: left; }
.textRight{ text-align: right; }
.textCenter{ text-align: center; }
.textjustify{ text-align: justify; }
